<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Matt & Andy's Travel Diary App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Travel Diary Webapp</h1>
        <p class="lead">This webapp keeps track of the places you've visited. Click below to add new travel records or update your list.</p>
        <form action="/places/new" method="GET">
        <button class="btn btn-primary btn-lg" role="button">Add a Trip</button>
        </form>
        <form action="/places" method="GET">
        <button class="btn btn-primary btn-lg" role="button">View All Trips</button>
        </form>
        <form action="/places/delete" method="POST">
        <button type="submit" name="button" class="btn btn-danger btn-lg" role="button">Delete All Trips</button>
        </form>
      </div>
      @using TravelDiary.Models;

      <h1>Your Posts:</h1>

      @if (Model.Count == 0)
      {
        <p>Currently not posts. Add a place your visited!!</p>
      } else 
      {
      <ul>
        @foreach (Place element in Model)
        {
          <li>Place Name: @element.CityName</li>
          <li>Highlights: @element.Highlights</li>
          <br>
        }
      </ul>
      }
    </div>
  </body>
</html>